#slider{
    width: 720px;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;

}
.heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 3px;

    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: aqua;
    opacity: 0.8;
    z-index: 2;
    background: rgba( 34 ,23,63,0.5);
    padding: 5px 8px;
}
#slider .slides{
    display: flex;
    width: 720px;
    height: 100%;
    margin: 0;
    padding: 0;

}
#slider .slides img{
    width: 720px;
    height: 500px;
    object-fit:cover;
}
#slider .slide{
    float: left;
    list-style-type: none;
    width: 720px;
    height: 500px;
}
.mobile_bg{
    display: none;
    width: 100vw;
    height: 500px;
}.mobile_bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:720px) {
    #slider{
        display: none;
    }
    .mobile_bg{
        display: block;
    }
    
}